# Copyright (c) 2024 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

config WIFI_SILABS_SIWX91X
	bool "Silabs SiWx91x SoC series WiFi driver"
	default y
	depends on DT_HAS_SILABS_SIWX91X_WIFI_ENABLED
	depends on NETWORKING
	select SILABS_SIWX91X_NWP
	select WIFI_USE_NATIVE_NETWORKING
	select NET_L2_ETHERNET_RESERVE_HEADER
	select NET_L2_WIFI_MGMT
	select NET_L2_ETHERNET
	help
	  Enable WiFi driver for the Silabs SiWx91x SoC series.

if WIFI_SILABS_SIWX91X

module = SIWX91X_WIFI
module-str = siwx91x_wifi
source "subsys/logging/Kconfig.template.log_config"

endif
